<div class="container"> 
<!-- the header -->
	<div class="header-home">
		
	</div>
 
<!-- main content of the page -->
	<div class="idea-home">
				<a id="vital" href="/it-starts-with-an-idea"><img src="images/idea-home.png" alt="Vital Stats" /></a>
	</div>
	<div class="wolf-home">
		&nbsp;
	</div>
	<div class="menu-home">
		<a id="vital-home" href="/vital-stats"><img src="images/menu-vital-home.png" alt="Vital Stats" /></a>
		<a id="team-home" href="/the-team"><img src="images/menu-team-home.png" alt="Vital Stats" /></a>
		<a id="clients-home" href="/clients"><img src="images/menu-clients-home.png" alt="Vital Stats" /></a>
		<a id="contact-home" href="/contact"><img src="images/menu-contact-home.png" alt="Vital Stats" /></a>
<!-- 		<a id="blog-home" href="blog.html"><img src="images/menu-blog-home.png" alt="Vital Stats" /></a> -->
	</div>
	<div class="logo-home">
 		<p>Official Logo, Blue Wolf Communications</p>
	</div>
</div>
<%=raw @page[:body] %>

