<div class="container"> 
<!-- the header -->
	<div class="header">
		<div class="wolf"><a href="/"></a></div>
		<div id="bluewolf"></div>
	</div>
 
<!-- main content of the page -->
	<div class="main">
		<div class="left-col">
			<div class="idea">
				<a id="vital" href="/it-starts-with-an-idea"><img src="images/idea.png" alt="Vital Stats" /></a>
			</div>
			<div class="menu">
				<a id="vital" href="/vital-stats"><img src="images/menu-vital.png" alt="Vital Stats" /></a>
				<a id="team" href="/the-team"><img src="images/menu-team.png" alt="The Team" /></a>
				<a id="clients" href="/clients"><img src="images/menu-clients.png" alt="Clients" /></a>
 				<a id="contact" href="/contact"><img src="images/menu-contact.png" alt="Contact" /></a>
<!-- 				<a id="blog" href="blog.html"><img src="images/menu-blog.png" alt="Blog" /></a> -->
			</div>
		</div>
		<div class="right-col">
			
			<div class="content">
<%=raw @page[:body] %> 

</div>
		</div>
	</div>
</div>

